img {
  width: 25%;
  float: right;
}

.container {
  text-align: center;
}

h3 {
  color: black;
}
body {
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRpA2L9xoFGw-u9akDrAVhzHw5muQPEQkllY9qWQDoHmAH9YK1DNg");
}
